

.rowBorderPurple 
{
   /*  border-top-color: rgba(164, 25, 80, 0.76) !important ;
    border-width: 2px !important;
 	background-color:rgba(164, 25, 80, 0.52) !important ;  
	border-bottom:2px solid rgba(164, 25, 80, 0.76)  !important; */
	
	margin-bottom: 0.5px;
	border: 5px solid rgba(164, 25, 80, 0.76) !important;
	border-bottom: 5px solid rgba(164, 25, 80, 0.76) !important;
	border-radius: 10px;
}

.rowBorderPink
{
	/* border-top:4px solid  rgba(224, 28, 64, 0.87) !important;
	background-color:rgba(224, 28, 64, 0.63) !important;
	border-bottom:2px solid  rgba(224, 28, 64, 0.87) !important;*/
	margin-bottom: 1px;
	border: 5px solid rgba(224, 28, 64, 0.87) !important;
	border-bottom: 5px solid rgba(224, 28, 64, 0.87) !important;
	border-radius: 10px;
}


.rowBorderOrange 
{
   
	/*border-top:2px solid  rgba(254, 89, 21, 0.75) !important;
	border-bottom:2px solid  rgba(254, 89, 21, 0.75) !important;
	background-color:rgba(254, 89, 21, 0.64) !important;*/
	margin-bottom: 1px;
	border: 5px solid rgba(254, 89, 21, 0.75) !important;
	border-bottom: 5px solid rgba(254, 89, 21, 0.75) !important;
	border-radius: 10px;
}

.rowBorderYellow
{
    /*border-top:2px solid  rgba(255, 158, 41, 0.82) !important;
	border-bottom:2px solid   rgba(255, 158, 41, 0.82) !important;
	background-color:rgba(255, 158, 41, 0.69)  !important;*/
	margin-bottom: 1px;
	border: 5px solid rgba(255, 158, 41, 0.82) !important;
	border-bottom: 5px solid rgba(255, 158, 41, 0.82) !important;
	border-radius: 10px;
}

.rowBorderBlue
{
    /*border-top:2px solid  rgba(0, 145, 126, 0.84) !important;
	border-bottom:2px solid  rgba(0, 145, 126, 0.84) !important;
    background-color:rgba(0, 145, 126, 0.58) !important;*/
	
	margin-bottom: 45px;
	border: 5px solid rgba(0, 145, 126, 0.84) !important;
	border-bottom: 5px solid rgba(0, 145, 126, 0.84) !important;
	border-radius: 10px;
	
}

.navbar-header {
 	float:none;
    width:100%;
   
}
.navbar-brand {
   
    float:none;
}
#bottomNav {
	padding:10px;
	padding-bottom: 0px;
}
#bottomNav a {
       font-size: 1.5em;
    color:#ADADAD;
    text-decoration:none;
}
#bottomNav a:hover {
    color:rgba(18, 157, 180, 0.88)
	}

#upperNav  a:hover {
    color:rgba(18, 157, 180, 0.88)
	}
	
#upperNav  a {
color:#ADADAD;
text-decoration:none;
	}

	#upperNav{
	    margin-top: 0px;
		margin-left: 0px;
	}

.bold{
font-weight: 600;
}

.blue{
color:#10907F;
    font-weight: 600;
}

.userName
{
    font-size: 0.85em;    color: rgba(84, 83, 83, 0.83);
}

.listend
{
        margin-top: -10px;font-size: 0.8em;color:rgba(115, 108, 108, 0.83);
}



body
{
   color: black !important;
     background-image: url("../images/i3.png") ;
     background-repeat:     no-repeat;
	background-size:100% auto; 
	
}



.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}