

.rowBorderPurple 
{
   /*  border-top-color: rgba(164, 25, 80, 0.76) !important ;
    border-width: 2px !important;
 	background-color:rgba(164, 25, 80, 0.52) !important ;  
	border-bottom:2px solid rgba(164, 25, 80, 0.76)  !important; */
	
	
	border: 5px solid rgba(164, 25, 80, 0.76) !important;
	border-bottom: 5px solid rgba(164, 25, 80, 0.76) !important;
	border-radius: 10px;
	    margin-top: -11px;
	color: rgb(164, 25, 80);
	  
}

.rowBorderPurple  a
{
 color: rgba(164, 25, 80, 0.88);
}

.rowBorderPurple a:hover {
    text-decoration:none !important;
	}


.rowBorderPink
{
	/* border-top:4px solid  rgba(224, 28, 64, 0.87) !important;
	background-color:rgba(224, 28, 64, 0.63) !important;
	border-bottom:2px solid  rgba(224, 28, 64, 0.87) !important;*/
	
	border: 5px solid rgba(224, 28, 64, 0.87) !important;
	border-bottom: 5px solid rgba(224, 28, 64, 0.87) !important;
	border-radius: 10px;
	    margin-top: -11px;
	color: rgb(224, 28, 64);
   
}

.rowBorderPink  a
{
color: rgb(224, 28, 64);
}
.rowBorderPink a:hover {
    text-decoration:none !important;
	}




.rowBorderOrange 
{
   
	/*border-top:2px solid  rgba(254, 89, 21, 0.75) !important;
	border-bottom:2px solid  rgba(254, 89, 21, 0.75) !important;
	background-color:rgba(254, 89, 21, 0.64) !important;*/
	    
	border: 5px solid rgba(254, 89, 21, 0.75) !important;
	border-bottom: 5px solid rgba(254, 89, 21, 0.75) !important;
	border-radius: 10px;
	
	color: rgb(254, 89, 21);
	   
}

.rowBorderOrange  a
{
color: rgb(254, 89, 21);
}

.rowBorderOrange a:hover {
    text-decoration:none !important;
	}

	
.rowBorderYellow
{
    /*border-top:2px solid  rgba(255, 158, 41, 0.82) !important;
	border-bottom:2px solid   rgba(255, 158, 41, 0.82) !important;
	background-color:rgba(255, 158, 41, 0.69)  !important;*/
	   
	border: 5px solid rgba(255, 158, 41, 0.82) !important;
	border-bottom: 5px solid rgba(255, 158, 41, 0.82) !important;
	border-radius: 10px;
	
	color: rgb(255, 158, 41);
	   
}

.rowBorderYellow  a
{
color: rgb(255, 158, 41);
}

.rowBorderYellow a:hover {
    text-decoration:none !important;
	}

	
.rowBorderBlue
{
    /*border-top:2px solid  rgba(0, 145, 126, 0.84) !important;
	border-bottom:2px solid  rgba(0, 145, 126, 0.84) !important;
    background-color:rgba(0, 145, 126, 0.58) !important;*/
	
	   
	border: 5px solid rgba(0, 145, 126, 0.84) !important;
	border-bottom: 5px solid rgba(0, 145, 126, 0.84) !important;
	border-radius: 10px;
	
	color: rgb(0, 145, 126);
	   
}

.rowBorderBlue  a
{
color:  rgb(0, 145, 126);
}

.rowBorderBlue a:hover {
    text-decoration:none !important;
	}



.rowBorderDarkBlue
{
    /*border-top:2px solid  rgba(0, 145, 126, 0.84) !important;
	border-bottom:2px solid  rgba(0, 145, 126, 0.84) !important;
    background-color:rgba(0, 145, 126, 0.58) !important;*/
	
	  
	border: 5px solid #1E7A89 !important;
	border-bottom: 5px solid #1E7A89 !important;
	border-radius: 10px;
	
	color: #1E7A89;
	  
}

.rowBorderDarkBlue  a
{
color: #1E7A89;
}

.rowBorderDarkBlue a:hover {
    text-decoration:none !important;
	}


.navbar-header {
 	float:none;
    width:100%;
   
}
.navbar-brand {
   
    float:none;
}
#bottomNav {
	padding:10px;
	padding-bottom: 0px;
}
#bottomNav a {
       font-size: 1.5em;
    color:#ADADAD;
    text-decoration:none;
}
#bottomNav a:hover {
    color:rgba(18, 157, 180, 0.88);
	}

#upperNav  a:hover {
    color:rgba(18, 157, 180, 0.88);
	}
#download:hover{
    color:rgba(18, 157, 180, 0.97) !important;
	}
	

	
	

	
#upperNav  a {
color:#ADADAD;
text-decoration:none;
	}

	#upperNav{
	    margin-top: 0px;
		margin-left: 0px;
	}

.bold{
font-weight: 600;
}

.blue{
color:#10907F;
    font-weight: 600;
}

.userName
{
    font-size: 0.85em;    color: rgba(84, 83, 83, 0.83);
}

.listend
{
        margin-top: -10px;font-size: 0.8em;color:rgba(115, 108, 108, 0.83);
}



body
{
   color: black !important;  
	
}

.search
{
 
}


.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.form-control::-webkit-input-placeholder { color: #348796; }
.form-control:-moz-placeholder { color: #348796; }
.form-control::-moz-placeholder { color: #348796; }
.form-control:-ms-input-placeholder { color: #348796; }



.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


.col-xs-6.no-float{
    float: none; 
	display: table-cell;
}

html,body,.container,.container-fluid,.#wrap
{
    height:100% !important;
}

*
{
    margin:0;padding:0;
}